.CodeMirror{
    height: 100%;
    position: relative;
}

.hljs-comment, .hljs-quote {
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

code {
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}
